# Tää täppä saattaa vittuilla UiPath kanssa jos tekee xaml tiedostoja tai uusia CSV tiedostoja
*
!*.xaml
!project.json
!*.drawio
!*.docx
!*.md
!*.csv

# Kuvakaappaukset
!Kuvakaappaukset/
!Kuvakaappaukset/**
# Tietokanta
!Tietokanta/
!Tietokanta/**
# UiPath
!UiPath/*.csv
# RF
!RF/
!RF/**
# ei reportteja tarvii jakaa kaikille 
RF/*.html
RF/*.xml