*
!*.xaml
!project.json
!.gitignore
!*.drawio
!*.docx
!*.md
!*.csv

# Kuvakaappaukset
!Kuvakaappaukset/
!Kuvakaappaukset/**
# Tietokanta
!Tietokanta/
!Tietokanta/**
# UiPath
!UiPath/*.csv
# RF
!RF/
!RF/**